@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 244 242 238;
  --foreground: 1 1 1;

  --primary: 2 48 32;
  --secondary: 0 77 0;
  --subtitle: 93 93 93;

  --border: 29 40 58;
  --radius: 0.25rem;

  --white: 255 255 255;

  --hover: #e5e5e5

  /* --max-width: 1280px;
  --margin-sides: 32px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 14 24 14;
    --primary: 236 219 186;

    --subtitle: 200 200 200;

    --border: 226 232 240;
  }
}

.markdown-content h3 {
  @apply text-2xl font-bold mb-4;
}

.markdown-content h4 {
  @apply text-xl font-bold mb-2;
}

.markdown-content p {
  @apply mb-4 text-base;
}

.markdown-content blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic mb-4;
}

.markdown-content ul,
.markdown-content ol {
  @apply list-disc pl-6 mb-4;
}

.markdown-content li {
  @apply mb-2;
}

.markdown-content a {
  @apply text-blue-500 hover:underline;
}

.markdown-content img {
  @apply rounded-lg shadow-md; /* Style images */
}

.markdown-content .image-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4; /* Grid styles for images */
}



/* .padding-sides {
  padding-left: max(var(--margin-sides), calc(50% - var(--max-width) / 2));
} */

/* body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
} */

/* a:hover {
  text-decoration: underline solid rgb(var(--background)) 1px;
  text-underline-offset: 2px;
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}